<!DOCTYPE html>
    <html>

    <head>

            <meta charset="utf-8">
            <title> Easy | Weather 🌡 </title>
            <link rel="stylesheet" href="{{ url_for('static', filename="styles/css/style.css")}}">

    </head>

    <body>

            <h1> Easy Weather ☀️🌦 </h1>

            <!-- form at the top -->
            <form action="/weather">
                City Name: <br>
                <input type="text" name="q" placeholder="Search City..">
                <br>
                <input type="submit" value=" Enter ">
            </form>
            {% block body %} {% endblock %}











    </body>

    </html>
